In [8]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [2]:
from datetime import datetime

In [3]:
movies = pd.read_csv("../data/movies.csv")

In [4]:
ratings = pd.read_csv("../data/ratings.csv")

In [22]:
movie_ratings = ratings.merge(movies, on="movieId")

In [25]:
movie_ratings.head()

0          2006-05-17 11:34:04
1          2006-05-17 08:26:57
2          2006-05-17 08:27:08
3          2006-05-17 11:13:40
4          2006-05-17 08:21:50
                   ...
25000090   2009-04-28 17:16:12
25000091   2009-04-28 16:53:18
25000092   2009-04-28 16:31:37
25000093   2009-04-28 17:17:14
25000094   2009-04-28 17:01:55
Name: timestamp, Length: 25000095, dtype: datetime64[ns]

In [30]:
sorted_ratings = movie_ratings.sort_values(by="timestamp")
sorted_ratings["timestamp"] = sorted_ratings["timestamp"].apply(datetime.fromtimestamp).rename({""})

SyntaxError: unterminated string literal (detected at line 2) (1513756788.py, line 2)

In [29]:
sorted_ratings

,userId,movieId,rating,timestamp,title,genres
326761,2262,21,3.0,1995-01-09 06:46:49,Get Shorty (1995),Comedy|Crime|Thriller
326810,2262,1079,3.0,1995-01-09 06:46:49,"Fish Called Wanda, A (1988)",Comedy|Crime
326767,2262,47,5.0,1995-01-09 06:46:49,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
15845015,102689,1,4.0,1996-01-28 19:00:00,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
15845023,102689,39,5.0,1996-01-28 19:00:00,Clueless (1995),Comedy|Romance
...,...,...,...,...,...,...
13207880,85523,168252,4.0,2019-11-21 04:11:19,Logan (2017),Action|Sci-Fi
1284508,8642,202101,2.0,2019-11-21 04:11:52,Stuber (2019),Action|Comedy
13207893,85523,204704,4.0,2019-11-21 04:12:13,Ready or Not (2019),Comedy|Horror|Thriller
1284464,8642,122914,4.0,2019-11-21 04:12:29,Avengers: Infinity War - Part II (2019),Action|Adventure|Sci-Fi
13207877,85523,149406,4.5,2019-11-21 04:15:03,Kung Fu Panda 3 (2016),Action|Adventure|Animation

# If Train and Validation
## Train Time Margin:
timestamp < 1421944985
## Test Time Margin:
1421944985 <= timestamp < 1515033908
## Validation Time Margin:
1515033908 <= timestamp
# If just Validation
## Train Time Margin:
timestamp < 1466837397
## Validation Time Margin:
1466837397 <= timestamp

In [12]:
fraction = 0.8
train_rating = sorted_ratings[:int(fraction * len(sorted_ratings))]
val_rating =  sorted_ratings[int(fraction * len(sorted_ratings)):]

In [34]:
user_rating = sorted_ratings[sorted_ratings["userId"] == 18492]

In [35]:
user_rating["timestamp"].apply(datetime.fromtimestamp).tail(30)

2786591   1996-07-12 17:11:47
2786552   1996-07-12 17:11:47
2786625   1996-07-12 17:11:47
2786617   1996-07-12 17:12:05
2786626   1996-07-12 17:12:05
2786607   1996-07-12 17:12:05
2786606   1996-07-12 17:12:23
2786585   1996-07-12 17:12:23
2786592   1996-07-12 17:12:38
2786558   1996-07-12 17:12:55
2786594   1996-07-12 17:14:41
2786598   1996-07-12 17:14:41
2786584   1996-07-12 17:15:01
2786565   1996-07-12 17:15:58
2786604   1996-07-12 17:16:29
2786593   1996-07-12 17:17:26
2786614   1996-07-12 17:18:26
2786611   1996-07-12 17:19:05
2786613   1996-07-12 17:19:05
2786615   1996-07-12 17:22:43
2786577   1996-07-13 00:03:36
2786561   1996-07-13 00:16:23
2786571   1996-07-14 12:41:01
2786630   1996-11-16 11:47:01
2786549   1996-11-16 11:48:38
2786628   1996-11-16 11:48:58
2786631   1996-11-16 13:32:04
2786627   1996-11-16 13:32:04
2786632   1996-11-29 09:13:40
2786629   1996-11-29 09:28:17
Name: timestamp, dtype: datetime64[ns]

In [17]:
len(val_user_ids & train_user_ids)

6401

In [23]:
beginning = datetime.fromtimestamp(train_rating["timestamp"].min())
end = datetime.fromtimestamp(train_rating["timestamp"].max())

In [24]:
print(f"from {beginning} to {end}")

from 1995-01-09 06:46:49 to 2016-06-25 02:49:57