In [1]:
import pandas as pd
import numpy as np

In [2]:
movies = pd.read_csv("../data/movies.csv")

In [3]:
ratings = pd.read_csv("../data/ratings.csv")

In [4]:
movie_ratings = ratings.merge(movies, on="movieId")

In [5]:
movie_ratings.head()

,userId,movieId,rating,timestamp,title,genres
0,1,296,5.0,1147880044,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
1,1,306,3.5,1147868817,Three Colors: Red (Trois couleurs: Rouge) (1994),Drama
2,1,307,5.0,1147868828,Three Colors: Blue (Trois couleurs: Bleu) (1993),Drama
3,1,665,5.0,1147878820,Underground (1995),Comedy|Drama|War
4,1,899,3.5,1147868510,Singin' in the Rain (1952),Comedy|Musical|Romance

In [5]:
n_reviews = movie_ratings["timestamp"].value_counts().reset_index()

In [7]:
sorted_ratings = movie_ratings.sort_values(by="timestamp")

# If Train and Validation
## Train Time Margin:
timestamp < 1421944985
## Test Time Margin:
1421944985 <= timestamp < 1515033908
## Validation Time Margin:
1515033908 <= timestamp
# If just Validation
## Train Time Margin:
timestamp < 1466837397
## Validation Time Margin:
1466837397 <= timestamp

In [12]:
fraction = 0.8
train_rating = sorted_ratings[:int(fraction * len(sorted_ratings))]
val_rating =  sorted_ratings[int(fraction * len(sorted_ratings)):]

In [16]:
val_user_ids = set(val_rating["userId"])
train_user_ids = set(train_rating["userId"])

In [17]:
len(val_user_ids & train_user_ids)

6401